Source: ros-rolling-turtlesim
Section: misc
Priority: optional
Maintainer: Alejandro Hernandez Cordero <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libament-index-cpp-dev, libgeometry-msgs-dev, libstd-msgs-dev, libstd-srvs-dev, python3-geometry-msgs, python3-std-msgs, python3-std-srvs, qt5-qmake, qtbase5-dev, ros-geometry-msgs, ros-rolling-rcl-interfaces, ros-rolling-rclcpp, ros-rolling-rclcpp-action, ros-rolling-rosidl-default-generators, ros-std-msgs, ros-std-srvs, ros-rolling-ros-workspace, ros-rolling-rosidl-typesupport-fastrtps-c, ros-rolling-rosidl-typesupport-fastrtps-cpp
Homepage: http://www.ros.org/wiki/turtlesim
Standards-Version: 3.9.2

Package: ros-rolling-turtlesim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libament-index-cpp-dev, libgeometry-msgs-dev, libqt5core5a, libqt5gui5, libstd-msgs-dev, libstd-srvs-dev, python3-geometry-msgs, python3-std-msgs, python3-std-srvs, ros-geometry-msgs, ros-rolling-rcl-interfaces, ros-rolling-rclcpp, ros-rolling-rclcpp-action, ros-rolling-rosidl-default-runtime, ros-std-msgs, ros-std-srvs, ros-rolling-ros-workspace
Description: turtlesim is a tool made for teaching ROS and ROS packages.
