Source: ros-kilted-turtlesim
Section: misc
Priority: optional
Maintainer: Alejandro Hernandez Cordero <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), qt5-qmake, qtbase5-dev, ros-kilted-ament-cmake, ros-kilted-ament-index-cpp, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-geometry-msgs, ros-kilted-rclcpp, ros-kilted-rclcpp-action, ros-kilted-std-msgs, ros-kilted-std-srvs, ros-kilted-turtlesim-msgs, ros-kilted-ros-workspace
Homepage: http://www.ros.org/wiki/turtlesim
Standards-Version: 3.9.2

Package: ros-kilted-turtlesim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, ros-kilted-ament-index-cpp, ros-kilted-geometry-msgs, ros-kilted-rclcpp, ros-kilted-rclcpp-action, ros-kilted-std-msgs, ros-kilted-std-srvs, ros-kilted-turtlesim-msgs, ros-kilted-ros-workspace
Description: turtlesim is a tool made for teaching ROS and ROS packages.
